.DS_Store

# IDE
.idea/
*.iml

# Gradle/Android
**/build/
.gradle/
.kotlin/

# CMake/CLion
**/cmake-build-*/
**/CMakeFiles/
**/.ninja_*
**/CMakeCache.txt
**/Testing/

# .NET / MAUI
**/bin/
**/obj/

# Logs
*.log
logs/

